<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.woongjin_ai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".KakaoRegisterActivity"/>
        <activity android:name=".SelectTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".OXTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ChoiceTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShortwordTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".TemplateActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MyPageActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShowFriendActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".AddFriendActivity"/>
        <activity android:name=".ChatListActivity"
            android:screenOrientation="landscape"/>
          <activity android:name=".RecommendFriendActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".WebViewActivity"></activity>
        <activity android:name=".ReadScriptActivity"></activity>
        <activity android:name=".MyQuizActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ChatroomActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
    </application>
</manifest>