<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.woongjin_ai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/aikorean"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".KakaoRegisterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SelectTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".OXTypeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ChoiceTypeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ShortwordTypeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".TemplateActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MyPageActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShowFriendActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".AddFriendActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".WebViewActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ReadScriptActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MyQuizActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".LikeQuizActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".NationBookActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".NationQuizActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SelectBookActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShowFriendQuizActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MyRecordActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".NationGameActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".GameListActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MakeBombTypeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MakeBombOXActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MakeBombChoiceActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MakeBombShortwordActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SolveBombOXActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SolveBombChoiceActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SolveBombShortwordActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".CorrectBombFragment"
            android:screenOrientation="landscape" />
    </application>
</manifest>